$font-stack: Montserrat, sans-serif;

$navy:  #1D133D;
$orange:  #FDB515;
$white: #fff;

$space: 100px;

$darken-navy: darken($navy, 10%);
$darken-orange: darken($orange, 10%);

$lighten-navy: lighten($navy, 10%);
$lighten-blue: lighten(blue, 25%);
